/*Body of this page created by Arihant Jain*/

/* body {
    margin: 0;
} */

.body-m {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/back.jpg") no-repeat;
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    height: 800px;
}

a.a-color-white {
    text-decoration: none;
    color: white !important;
    outline: none;
}

/* Below section defines the NavBar for our Page by - Arihant Jain */

.section:nth-of-type(odd):not(:first-child) {
    color: #fff;
    background: rgba(255, 0, 0, 0);
    display: block;
    position: fixed;
    top: 0;
}

/*Starting Section For Navigation Bar*/

.section--menu {
    position: relative;
    overflow: hidden;
    min-height: 0px;
}

.section__title {
    font-size: 1.5em;
    font-weight: 50px;
    -webkit-flex: none;
    flex: none;
    text-indent: 3px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: black;
}

.section--intro {
    font-size: 2em;
    position: relative;
    min-height: 0px;
    text-align: center;
    color: #fff;
}

.section--intro p {
    max-width: 1000px;
    margin: 0 auto;
}

#Cordelia {
    font-family: "Playfair Display";
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    z-index: 1030;
}

/*Starting Section For  Menu List by- Arihant Jain */

.menu {
    line-height: 1;
    margin: 1em auto 3em;
}

.menu__list {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 5px 50px;
    list-style: none top;
    float: right;
}

.menu__item {
    display: block;
    margin: 1em 0;
    float: initial;
    text-decoration: none !important;
    color: white !important;
}

.menu__link {
    font-size: 1.2em;
    display: block;
    padding: 1em 0.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Cambria;
}

.menu__link:hover,
.menu__link:hover {
    outline: none !important;
}

.menu--cordelia .menu__item {
    position: relative;
}

.menu--cordelia .menu__link {
    -webkit-transition: color 0.3s;
    transition: color 0.3s !important;
}

.menu--cordelia .menu__item--current .menu__link {
    color: #ff3c50;
    -webkit-transition: color 0.6s;
    transition: color 0.6s !important;
}

.menu--cordelia .menu__item::before,
.menu--cordelia .menu__item::after {
    content: '';
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 2px;
    background: white;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-animation-fill-mode: initial;
    animation-fill-mode: initial;
}

.menu--cordelia .menu__item::before {
    top: 0;
    right: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.menu--cordelia .menu__item::after:hover {
    bottom: 2px;
    left: 0;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.menu--cordelia .menu__item--current::before {
    -webkit-animation: anim-cordelia-top 0.6s linear both;
    animation: anim-cordelia-top 0.6s linear both;
}

.menu--cordelia .menu__item--current::after {
    -webkit-animation: anim-cordelia-bottom 0.6s linear both;
    animation: anim-cordelia-bottom 0.6s linear both;
}

/* Uptil here menu list for our page */

/* Below section is starting of amination for Top & bottom line of menu list for our page */

@-webkit-keyframes anim-cordelia-top {
    0% {
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
    }
    10% {
        -webkit-transform: scale3d(0.05, 1, 1);
        transform: scale3d(0.05, 1, 1);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    50% {
        -webkit-transform: translate3d(-95%, 0, 0) scale3d(0.05, 1, 1);
        transform: translate3d(-95%, 0, 0) scale3d(0.05, 1, 1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}

@keyframes anim-cordelia-top {
    0% {
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
    }
    10% {
        -webkit-transform: scale3d(0.05, 1, 1);
        transform: scale3d(0.05, 1, 1);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    50% {
        -webkit-transform: translate3d(-95%, 0, 0) scale3d(0.05, 1, 1);
        transform: translate3d(-95%, 0, 0) scale3d(0.05, 1, 1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}

@-webkit-keyframes anim-cordelia-bottom {
    0% {
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
    }
    10% {
        -webkit-transform: scale3d(0.05, 1, 1);
        transform: scale3d(0.05, 1, 1);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    50% {
        -webkit-transform: translate3d(95%, 0, 0) scale3d(0.05, 1, 1);
        transform: translate3d(95%, 0, 0) scale3d(0.05, 1, 1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}

@keyframes anim-cordelia-bottom {
    0% {
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
    }
    10% {
        -webkit-transform: scale3d(0.05, 1, 1);
        transform: scale3d(0.05, 1, 1);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    50% {
        -webkit-transform: translate3d(95%, 0, 0) scale3d(0.05, 1, 1);
        transform: translate3d(95%, 0, 0) scale3d(0.05, 1, 1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}

/* Uptil here amination for Top & bottom line of menu list for our page */

/*Starting section for connect with us by- Manan Trimbakey*/

#connect-with {
    margin-right: 50px;
    border: solid rgb(244, 72, 58) 1px;
    padding: 10px 65px 10px 65px;
    border-radius: 25px;
    font-size: 1em;
    transition: background-color 0.25s;
    font-family: Cambria;
}

#connect-with:hover {
    background-color: rgb(244, 72, 58);
    cursor: pointer;
}

/* Uptil here connect with us for our page */

/*Starting section for Login/SignUp by- Manan Trimbakey*/

#account-button {
    border: solid;
    background-color: rgb(244, 72, 58);
    border-color: rgb(244, 72, 58);
    border-radius: 25px;
    border-width: 1px;
    transition: background-color 0.25s;
    font-size: 1em;
    font-family: "Playfair Display";
    margin: 0.9em 0;
    font-family: Cambria;
}

#account-button:hover {
    background-color: transparent;
    cursor: pointer;
}

/* Uptil here Login/SignUp for our page */

/* Uptil here Navigation bar for our page */

/* Below section defines the search bar and filter bar for our Page by - Manan Trimbakey */

a.a-color-white:hover {
    text-decoration: none !important;
    color: white;
}

.inline {
    display: inline-block;
}

/*.search-bar {
    display: inline;
    font-size: 1em;
    position: relative;
    width: 50%;
}

.search-bar-start {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.search-bar td {
    background-color: white;
}

.search-text-box,
.search-button {
    border: none;
    outline: none;
    margin: 0;
    background-color: white;
    outline: none !important;
    padding: 10px;
    border-radius: 25px;
}

.search-text-box {
    width: 20em;
}

.search-button-saparated {
    vertical-align: top;
    padding: 10.75px;
    background-color: rgb(244, 72, 58) !important;
    color: white !important;
}

.search-bar-end {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.box-shadow {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.box-shadow-left {
    box-shadow: -3px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.box-shadow-right {
    box-shadow: 3px 0px 3px 3px rgba(0, 0, 0, 0.2);
}*/

.heading-m {
    font-size: 50px;
    color: white;
    font-family: 'Overlock', cursive;
    margin-top: 200px;
    margin-bottom: 0.2em;
}

.logo-m {
    width: 300px;
    margin: 10px;
    margin-bottom: 4px;
    margin-left: 50px;
}

.call-td-m {
    text-align: right;
    font-size: 1em;
    color: #ffffff;
    height: 3em;
    padding-bottom: 10px;
}

.saparater-m {
    border-left: 1px solid rgb(255, 255, 255);
    height: 5px;
    margin: 0 8px 0 5px;
}

/*#search-m:hover {
    cursor: pointer;
}*/

#navbar-responsive-m {
    display: none;
}

/* Uptil here search bar & filter bar for our page.*/

/* media query to change navbar when it breaks */

@media screen and (max-width: 1000px) {
    #Cordelia {
        display: none;
    }
    #navbar-responsive-m {
        display: flex;
    }
}

@media screen and (max-width: 1204px) {
    #account-button {
        width: 100px;
        text-align: center;
        padding: 0;
        /* position: absolute; */
        left: 0;
    }
}

@media screen and (max-width: 800px) {
    .search-text-box {
        width: 15em;
    }
}

@media screen and (max-width: 600px) {
    .search-text-box {
        width: 9em;
    }
}

@media screen and (max-width: 400px) {
    .search-text-box {
        width: 5em;
    }
}

/* @media screen and (max-width:  */

/* to supress on focus box-shadow of input by bootstrap */

.form-control-search-m:focus {
    box-shadow: 0 0 0 0 !important;
}

.btn-search-m:focus {
    box-shadow: 0 0 0 0 !important;
    border: none !important;
}

/* color of account button in responsive navbar */

.s1-account {
    background-color: rgb(244, 72, 58) !important;
    color: white !important;
}

#phone_no {
    font-family: Cambria;
}

/*.padded-m {
	padding: 10px 15px;
}

.no-box-shadow-m {
	box-shadow: 0 0 0 0 !important;
}

.no-box-shadow-m:hover {
	box-shadow: 0 0 0 0 !important;
}

.no-box-shadow:focus {
	box-shadow: 0 0 0 0 !important;
}

#s1-options-1-m, #s1-options-2-m {
	display: none;
	position: absolute;
	height: 100px;
	width: 100px;
	z-index: 4;
	top: 2.9em;
	 box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
	 background-color: white;
}

.search-bar-renovated {
	font-size: 1.2em !important;
	height: 2em !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}*/

.s1_container {
    height: 350px;
    padding: 1em;
    margin: 0;
    text-align: center;
    font-family: 'Overlock', 'cursive';
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/back.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.s1_heading {
    font-size: 2em;
    color: honeydew;
    margin: 1em;
}

.s1_no_outline {
    outline: none;
}

/*
.s4_controls {
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

.s1_city-text-box, .s1_venues {
    border: none;
    font-size: 1.3em;
    width: 300px;
    vertical-align: middle;
}

.s1_city-text-box:hover {
    cursor: pointer;
}

.s1_go-button {
    border: none;
    font-size: 1em;
    width: 130px;
    color: white;
    background-color: rgb(255, 69, 69);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
}

.s1_go-button:hover {
    background-color: rgb(255, 113, 113);
    cursor: pointer;
}

#s1_drop-down-character {
    background-color: white;
    border: none;
    font-size: 0.70em;
    min-width: 33px;
    vertical-align: baseline;
}

#s1_drop-down-character:hover {
    cursor: pointer;
}

#s1_location-png-button {
    background-color: red;
    padding: 6px;
    font-size: 1em;
    height: 3.5em;
    border: none;
    width: 2.5em;
    background: rgb(255, 255, 255) url("../img/location.png") center no-repeat;
    background-size: 20px 20px;
    padding: 6px;
    vertical-align: middle;
}

#s1_location-png-button:hover {
    cursor: pointer;
}

#s1_options-1,#s1_options-2 {
    width: 250px;
    height: 300px;
    background-color: white;
    display: none;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}*/

#s1_tagline {
    color: white;
    font-size: 20px;
    font-family: 'Overlock', 'cursive';
}

.padding-m {
    padding: 10px 15px;
}

.no-box-shadow-m:hover {
    box-shadow: 0 0 0 0 !important;
}

.no-box-shadow-m:focus {
    box-shadow: 0 0 0 0 !important;
}

.s1-font-size-search-bar {
    font-size: 1.5em !important;
}

.s1-options-1,
.s1-options-2 {
    display: none;
    width: 48.75%;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 3em;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
    z-index: 4;
}

/* .s1-options-2 {
			background-color: rgba(0, 255, 0, 0.5)
		} */

.search-bar-s1-m-start {
    border-top-left-radius: 1em !important;
    border-bottom-left-radius: 1em !important;
}

.search-bar-s1-m-end {
    border-top-right-radius: 1em !important;
    border-bottom-right-radius: 1em !important;
}