.gallery-img-div1 {
    width: 30%;
    height: 250px;
    margin-right: 20px;
}

.gallery-img-div1 img:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.gallery-btn-div {
    height: 35px;
    text-align: center;
    /* line-height: 35px; */
    cursor: pointer;
	border-radius: 20px 20px;
	border-color: rgb(244,58,72) !important;
	/* box-shadow: 5px 10px 8px #888888 */
	width: 50% !important;
	color: rgb(244,58,72);
}

.gallery-btn-div:hover {
	background-color: rgb(244,58,72) !important;
	color: white;
	border-color: rgb(244,58,72) !important;
}
