.s9-custom-testimonial-1 {
    border: 2px solid blue;
    border-radius: 40px;
    padding: 30px;
}

.s9-custom-testimonial-2 {
    border: 2px solid deeppink;
    border-radius: 40px;
    padding: 30px;
}

.s9-custom-testimonial-3 {
    border: 2px solid orange;
    border-radius: 40px;
    padding: 30px;
}

.s9-custom-testimonial-4 {
    border: 2px solid purple;
    border-radius: 40px;
    padding: 30px;
}
