.blog-img{
    opacity: 1;
}
.blog-img:hover{
    opacity: 0.6;
}

.p-alink a{
    color:rgb(244,72,58);  
}
.p-alink a:hover{
    color: rgb(244,72,58); 
    text-decoration: none;
}


.blog-a a{
    color: rgb(244,72,58);
    text-decoration: none;
}
.blog-a a:hover{
    color: #e50000;
    text-decoration: none;
}