.s2_section2 {
    margin-top: -20px;
    }

.s2_txt {
    margin-left: 200px;
    text-align: justify;
    font-weight: 300;
    margin-top:100px;
    font-family: 'Overlock', cursive;
    
}

.s2_img2{
    margin-right: 0;
}

.s2_zoomimage {
    overflow: hidden;
    
}

.s2_img {
    max-height: 100%;
    max-width: 100%;
    transition: 0.75s;
}

.s2_zoomimage:hover img {
    transform: scale(1.2);
}
.s2_hr {
    color: rgb(244,72,58);
}

